{%extends "base.html"%}
{%block content%}
<div class="container">

<!--  <div class="row">

<div class="col col-6">
	<h1>My events</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col"><a href="{%url 'create-event' %}">Create event</a></th>
    </tr>
  </thead>
  <tbody>
  	{% for event in created_events%}
    <tr>
      <th scope="row">{{event.title}}</th>
      <td>{{event.date}}</td>
      <td><a href="{% url 'event-detail' event.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
<div class="col col-6">
	<div class="row">
		<div class="col-12">
	<h1>Upcoming</h1>
	

<table class="table table-dark">
	 <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Tickets</th>
      <th scope="col"></th>
    </tr>
  </thead>
{% for event in upcoming_events %}
    <tr>
      <td><a href="{% url 'event-detail' event.event.id %}">{{event.event.title}}</a></td>
      <td>{{event.tickets}}</td>
      <td><a href="{% url 'cancel' event.id %}">Cancel Booking</a></td>
    </tr>
    {% endfor %} 
</table>
	
</div>
	<div class="col-12">
	<h1>Attended</h1>
	
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">event</th>
      <th scope="col">description</th>
      <th scope="col">location</th>
      <th scope="col">Date&Time</th>
      <th scope="col">Organizer</th>
    </tr>
  </thead>
  <tbody>
  	{% for event in previous_events %}
    <tr>
      <th scope="row">{{event.title}}</th>
      <td>{{event.description}}</td>
      <td>{{event.location}}</td>
      <td>{{event.date}}<br>{{event.time}}</td>
      <td><a href="{% url 'profile' event.creator.id %}">{{event.creator}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>



</div>
</div>
</div>  -->
<h1>Dashboard</h1>

<div class="accordion trans" id="accordionExample">
  <div class="card trans">
    <div class="card-header blacktrans head " id="headingOne">
      <h5 class="mb-0 ">
        <button class="btn btn-link btn-block collapsed text blackcenter big"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          My Events
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#selector">
      <div class="card-body">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
              <th scope="col">
                <a href="{%url 'create-event' %}" class="btn btn-primary">Create event <i class="fas fa-plus"></i></a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for event in created_events%}
            <tr>
              <th scope="row">{{event.title}}</th>
              <td>{{event.date}}</td>
              <td><a href="{% url 'event-detail' event.id %}">Details</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-header white big" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed white big" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Upcoming
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#selector">
      <div class="card-body white">
        <table class="table table-dark">
           <thead>
            <tr>
              <th scope="col">Event</th>
              <th scope="col">Tickets</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for event in upcoming_events %}
            <tr>
              <td><a href="{% url 'event-detail' event.event.id %}">{{event.event.title}}</a></td>
              <td>{{event.tickets}}</td>
              <td><a href="{% url 'cancel' event.id %}">Cancel Booking</a></td>
            </tr>
          {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card trans">
    <div class="card-header blackcenter head" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link  btn-block collapsed blackcenter right " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Attended
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#selector">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Organizer</th>
              </tr>
            </thead>
            <tbody>
              {% for event in previous_events %}
              <tr>
                <th scope="row">{{event.title}}</th>
                <td>{{event.description}}</td>
                <td>{{event.location}}</td>
                <td>{{event.date}}<br>{{event.time}}</td>
                <td><a href="{% url 'profile' event.creator.id %}">{{event.creator}}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}