{%extends "base.html"%}

{% load crispy_forms_tags %}
{%block content%}
<div class="container" >

	<div class="card text-center">
		<div class="card-body">
			<img class="card-img-top" style="height: 300px" src="{{event.image.url}}" alt="Card image cap">
			<h5 class="card-title">{{event.title}}</h5>
			<p class="card-text" ><strong><em><a href="{% url 'profile' event.creator.id %}" style="color: grey;">By, {{event.creator}}</a></em></strong></p>
			<p class="card-text">{{event.description}}</p>
			
		    <p class="card-text"><strong>Location: </strong><br>{{event.location}}</p>
		    <p class="card-text"><strong>Date & Time:</strong><br>{{event.date}} - {{event.time}}</p>
		    <p class="card-text"><strong>({{event.seats}}) seats left!</strong></p>
		    {% if request.user == event.creator and comming  %}
			<a href="{% url 'update-event' event.id %}" class="btn btn-primary">Edit Event</a>
			{% endif %}
		</div>
		 {% if comming %} 
		<div class="card-footer bg-secondary text-white">
			<form  action="{% url 'event-detail' event.id %}" method='POST'>
				{% csrf_token %}
        		{{form}}
        	<input type="submit" class="btn btn-primary" value="Book">
			</form>
	  	</div>
	  	{% endif %}
	</div>

{% if request.user == event.creator %}
<br><br>
<h2 style="text-align:center;">Bookings</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Name</th>
      <th scope="col">Tickets</th>
    </tr>
  </thead>
  <tbody>
  	{%for book in bookings%}
    <tr>
      <th scope="row">{{book.id}}</th>
      <td>{{book.booker.username}}</td>
      <td>{{book.tickets}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}	
</div>

{% endblock %}